<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karaoke Deluxove - lista utworw</title>
    <style>
* {
    font-family: sans-serif;
}
    </style>
</head>
<body>

<form>
    <label for="search">Search:</label><input type="text" name="search" />
    <label for="singer_count">Singers count:</label><input type="number" min="1" max="{{ max_singers }}" value="1" />
</form>




{% for song in songs %}
{{ song.artist__artist }} — {{ song.title }}<br/>
{% endfor %}}
</body>
</html>
